.typography {
    .type-gallery {
        display: flex;
        flex-flow: row wrap;
        border-image: linear-gradient(
                to bottom,
                var(--brand-color-3),
                var(--brand-color-1),
                var(--brand-color-2)
            )
            1 100%;
        border-image-width: 0 0 0 4px;
        border-left-style: solid;
        padding-left: 0.75rem;
    }

    .weight-example-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem 1rem;
    }

    .weight-example {
        font-size: 3.5rem;
        line-height: 1;

        &.light {
            font-weight: 300;
        }
        &.regular {
            font-weight: 400;
        }
        &.medium {
            font-weight: 500;
        }
        &.semibold {
            font-weight: 600;
        }
        &.bold {
            font-weight: 700;
        }
    }

    .pangram-container {
        letter-spacing: 2px;
        padding: 1rem;
        width: 100%;
        overflow-wrap: anywhere;
    }

    .scale-example {
        margin-bottom: 3rem;
        p {
            margin: 0.25rem 0;
        }
    }
}
