.flex {
    display: flex;
}

.flex-right {
    justify-content: flex-end;
}

.hidden {
    display: none;

    &-s {
        @include breakpoint(s) {
            display: none;
        }
    }

    &-m {
        @include breakpoint(m) {
            display: none;
        }
    }

    &-l {
        @include breakpoint(m, min) {
            display: none;
        }
    }
}

ul.unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}