.main-nav {
    flex: 0 0 200px;
    padding: 1.5rem;
    border-right: 1px solid #353535;
    height: 100%;
    min-height: 100vh;

    .nav-group {
        margin-bottom: 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        margin: 0.5rem 0;
        &:not(.router-link-active):not(:hover)::after {
            display: none;
        }
    }
}
