.secondary-nav {
    flex: 0 0 150px;
    padding: 1rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: sticky;
        top: 1rem;
    }

    .secondary-nav-item {
        margin: 0.5rem 0;
        padding-left: 1rem;

        &::after {
            height: 100%;
            width: 4px;
            bottom: 0;
        }

        &.active {
            font-weight: 600;
        }

        &:hover,
        &:focus {
            &::after {
                width: 4px;
            }
        }

        &:not(.active):not(:hover)::after {
            display: none;
        }
    }
}
