@import '../../styles/host.css';

:host {
    display: block;
    margin: 1rem 0.5rem;
}

:host([disabled]) label {
    cursor: not-allowed;
    opacity: 0.5;
}

label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

:host([alignment='right']) label {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.checkbox-symbol {
    flex: 0 0 24px;
    margin-right: 0.625rem;
    stroke-linecap: round;
    stroke-linejoin: round;
}

:host([alignment='right']) .checkbox-symbol {
    margin-left: 0.625rem;
    margin-right: 0;
}

input:focus + label .checkbox-symbol {
    outline: auto;
}

.checkbox-outline {
    fill: transparent;
    stroke: var(--purple);
    stroke-width: 2;
    transition: fill 0.2s ease-in-out;
}

:host([checked]) .checkbox-outline,
:host([indeterminate]) .checkbox-outline {
    fill: var(--purple);
}

.checkbox-fill {
    stroke: #ffffff;
    fill: none;
    stroke-width: 3;
}

:host([type='toggle']) .checkbox-symbol {
    flex-basis: 45px;
}

.toggle-path {
    stroke: #979797;
    stroke-width: 20;
    fill: none;
    transition: stroke 0.2s ease-in-out;
}

:host([checked]) .toggle-path {
    stroke: var(--purple);
}

.toggle-fill {
    fill: #fff;
    stroke: none;
    transition: transform 0.2s ease-in-out;
}

:host([checked]) .toggle-fill {
    transform: translateX(25px);
}

.label-text {
    flex: 1 0;
}
