.overview-content {
    display: flex;
    flex-wrap: wrap;
}

.overview-demo {
    margin-right: 60%;
    margin-bottom: 1rem;

    @include breakpoint(l) {
        margin-right: 0;
    }

    &.no-controls {
        margin-right: 0;
        margin-bottom: 0;
    }
}

.overview-demo-element {
    margin: 1rem;
}

.overview-demo,
.overview-demo-controls {
    flex: 1 1 40%;

    @include breakpoint(l) {
        flex-basis: 100%;
    }
}

.overview-demo-snippet {
    padding-left: 5%;
    flex: 1 1 60%;

    @include breakpoint(l) {
        padding-left: 0;
        flex-basis: 100%;
    }
}

.prop-name {
    margin: 0;
}

.prop-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 3rem;
}

.prop-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #353535;
    padding: 1rem 0;

    @include breakpoint(l) {
        flex-wrap: wrap;
    }
}

.prop-info,
.prop-example {
    flex: 1 1 50%;

    @include breakpoint(l) {
        flex-basis: 100%;
    }
}

.prop-desc {
    margin-top: 0.5rem;

    h5 {
        margin-bottom: 0.5rem;
    }

    .code-snippet {
        margin: 0;
    }
}

.prop-example {
    .code-snippet {
        @include breakpoint(l) {
            margin: 1rem 0 0;
        }
    }
}
