form {
    fieldset {
        border: none;
        padding: 0.5rem 0;
    }

    legend {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }

    .button-container {
        display: flex;
        flex-direction: column;

        button {
            flex-grow: 1;
            margin: 1rem 0;
        }
    }
}
