@import '@/styles/';

#app {
    display: flex;

    @include breakpoint (m) {
        flex-wrap: wrap;
    }
}

.mobile-banner {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    height: 60px;
    border-bottom: 1px solid #353535;
    background-color: var(--body-background-color);
    z-index: 1;

    @include breakpoint(m, min) {
        display: none;
    }
}

.home-link {
    display: block;
    max-width: 200px;
    flex: 0 1 200px;
}

.banner-spacer  {
    width: 44px;
}

main {
    flex: 1 1 auto;
    display: flex;
    min-height: 100vh;
}
