@import 'protean-styles/styles/mixins';

.secondary-nav {
    flex: 0 0 130px;
    padding: 1rem;

    @include breakpoint(s) {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: sticky;
        top: 1rem;

        @include breakpoint(m) {
            top: 60px;
        }
    }

    .secondary-nav-item {
        margin: 0.5rem 0;
        padding-left: 1rem;

        &::after {
            height: 0;
            width: 4px;
            transition: height 0.2s ease-in-out;
            bottom: 0;
        }

        &.active {
            font-weight: 700;

            &::after {
                height: 100%;
            }
        }

        &:hover,
        &:focus {
            &::after {
                height: 100%;
            }
        }
    }

    @media print {
        display: none;
    }
}
